node_modules/
.env
.env.local
*.log

# Next.js
frontend/.next/
frontend/out/

# Certificados
mosquitto/certs/*.crt
mosquitto/certs/*.key
mosquitto/certs/*.csr
mosquitto/certs/*.srl
mosquitto/certs/*.ext
!mosquitto/certs/.gitkeep

backend/*.crt
backend/*.key
backend/*.csr

# ESP-IDF build
sistema_embebido/build/

# OS / editor
.DS_Store
.cursor/
.vercel
