PORT=4000
MONGODB_URI=mongodb://mongodb:27017/chiro
MQTT_BROKER_URL=mqtts://mosquitto:8883
MQTT_TOPIC="chiro/sensores/#"
MQTT_CLIENT_ID=chiro-backend
MQTT_CA_CERT=/certs/ca.crt
MQTT_TLS_INSECURE=true
